{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/macros.html" import product_image %}

{% block breadcrumbs %}
    {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>

{% block title %}
    {{ doc.name }}
{% endblock %}

{% block header %}
    <h3 class="m-0">{{ doc.name }}</h3>
{% endblock %}

{% block header_actions %}
    <div class="row">
        {% if show_pay_button and doc.status != 'Paid' %}
        <div class="form-column col-sm-6">
            <div class="page-header-actions-block" data-html-block="header-actions">
                <p>
                    <a href="/api/method/erpnext.accounts.doctype.payment_request.payment_request.make_payment_request?dn={{ doc.name }}&dt={{ doc.doctype }}&order_type=Shopping Cart"
                        class="btn btn-primary btn-sm" id="pay-for-order" aria-label="Pay for this order">
                        {{ _("Pay") }} {{ doc.get_formatted("grand_total") }}
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if show_subscription and not is_attached_method %}
        <div class="form-column col-sm-6">
            <div class="page-header-actions-block" data-html-block="header-actions">
                <p>
                    <button style="background-color: #FFC024; color: black;font-weight: bold;" class="btn btn-primary" onclick="window.location.href = '/pay-with-ach?customer_id={{stripe_customer_id}}&invoice_no={{doc.name}}'"
                            aria-label="Add payment details and subscribe">Click Here to Setup Auto Pay</button>
                </p>
            </div>
        </div>
        {% elif is_attached_method and show_subscription %}
        <div class="form-column col-sm-6">
            <div class="page-header-actions-block" data-html-block="header-actions">
                <p>
                    <button id="subscribeButton" class="btn btn-primary"
                            onclick="createSubscription('{{ stripe_customer_id }}', '{{ doc.name }}')"
                            aria-label="Subscribe to this plan">Subscribe</button>
                </p>
            </div>
        </div>
        {% endif %}

        {% if has_subscription %}
        <div class="form-column col-sm-6">
            <div class="page-header-actions-block" data-html-block="header-actions">
                <div class="col-md-6">
                    <button id="manage-billing-btn" class="btn btn-primary" aria-label="Manage billing details">Manage Billing</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block page_content %}
    <div>
        <div class="row transaction-subheading mt-1">
            <div class="col-6 text-muted small mt-1">
                {{ frappe.utils.format_date(doc.transaction_date, 'medium') }}
                {% if doc.valid_till %}
                <p>
                    {{ _("Valid Till") }}: {{ frappe.utils.format_date(doc.valid_till, 'medium') }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row indicator-container mt-2">
            <div class="col-10">
                <span class="indicator-pill {{ ("green" if doc.status=='Paid' else "red") }}">
                    {{ doc.status or _("Submitted") }}
                </span>
            </div>
            <div class="text-right col-2">
                <b>{{ doc.customer_name }}</b>
                {% if doc.contact_display and doc.contact_display != doc.customer_name %}
                <br>
                {{ doc.contact_display }}
                {% endif %}
            </div>
        </div>

        {% if doc._header %}
        {{ doc._header }}
        {% endif %}

        <div class="order-container mt-4">
            <!-- Items -->
            <div class="w-100">
                <div class="order-items order-item-header mb-1 row text-muted">
                    <span class="col-5">{{ _("Item") }}</span>
                    <span class="d-s-n col-3">{{ _("Quantity") }}</span>
                    <span class="col-2 pl-10">{{ _("Rate") }}</span>
                    <span class="col-2 text-right">{{ _("Amount") }}</span>
                </div>
                {% for d in doc.items %}
                <div class="order-items row align-items-center">
                    <span class="order-item-name col-5 pr-0">{{ item_name_and_description(d) }}</span>
                    <span class="d-s-n col-3 pl-10">{{ d.get_formatted("qty") }}</span>
                    <span class="order-rate pl-4 col-2">{{ d.get_formatted("rate") }}</span>
                    <span class="col-2 text-right">{{ d.get_formatted("amount") }}</span>
                </div>
                {% endfor %}
            </div>

            <!-- Taxes -->
            <div class="">
                {% include "erpnext/templates/includes/order/order_taxes.html" %}
            </div>
        </div>
    </div>

    {% if doc.terms %}
    <div class="terms-and-condition text-muted small">
        <hr>
        <p>{{ doc.terms }}</p>
    </div>
    {% endif %}
{% endblock %}


{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const manageBillingBtn = document.getElementById('manage-billing-btn');
            if (manageBillingBtn) {
                manageBillingBtn.addEventListener('click', function () {
                    fetch('/api/method/payments.templates.pages.order.create_stripe_billing_portal_session?customer_id={{ stripe_customer_id }}&invoice_no={{ doc.name }}')
                        .then(response => response.json())
                        .then(data => {
                            if (data.message) {
                                window.location.href = data.message;
                            } else {
                                alert('Failed to create billing portal session');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred while opening the billing portal.');
                        });
                });
            }
        });

        function createSubscription(stripe_customer_id, invoice_id) {
            if (!stripe_customer_id || !invoice_id) {
                alert("Invalid customer or invoice ID.");
                return;
            }

            // Disable the button and show "Please wait" message
            const subscribeButton = document.getElementById('subscribeButton');
            subscribeButton.disabled = true;
            subscribeButton.textContent = "Please wait...";

            // Make the API call
            fetch("/api/method/payments.payments.doctype.stripe_customers.stripe_customers.create_stripe_subscription_for_invoice", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": "{{ frappe.csrf_token }}"
                },
                body: JSON.stringify({
                    customer_id: stripe_customer_id,
                    invoice_id: invoice_id
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message && data.message.status === 'active') {
                    // Show success message
                    subscribeButton.textContent = "Subscription Created Successfully!";
                    subscribeButton.classList.add("btn-success");
                    
                    // Redirect to another page if necessary
                    setTimeout(() => {
                        window.location.href = `/invoices/${invoice_id}`;
                    }, 2000);
                } else {
                    // Handle error
                    subscribeButton.disabled = false;
                    subscribeButton.textContent = "Subscribe";
                    alert("Error creating subscription. Please try again.");
                }
            })
            .catch(error => {
                // Handle fetch error
                console.error("Error creating subscription:", error);
                subscribeButton.disabled = false;
                subscribeButton.textContent = "Subscribe";
                alert("Error creating subscription. Please try again.");
            });
        }
    </script>
{% endblock %}


{% macro item_name_and_description(d) %}
    <div class="row item_name_and_description">
        <div class="col-xs-4 col-sm-2 order-image-col">
            <div class="order-image h-100">
                {% if d.thumbnail or d.image %}
                    {{ product_image(d.thumbnail or d.image, no_border=True) }}
                {% else %}
                    <div class="no-image-cart-item" style="min-height: 100px;">
                        {{ frappe.utils.get_abbr(d.item_name) or "NA" }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-8 col-sm-10">
            {{ d.item_code }}
            <div class="text-muted small item-description">
                {{ html2text(d.description) | truncate(140) }}
            </div>
            <span class="text-muted mt-2 d-l-n order-qty">
                {{ _("Qty ") }}({{ d.get_formatted("qty") }})
            </span>
        </div>
    </div>
{% endmacro %}
